
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("Imagenes/fondo.jpeg") no-repeat center center;
    background-size: cover;
    color: #0206f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.product {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product h2 {
    margin: 0 0 10px;
}

.product p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
